<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<context:component-scan base-package="ru.otus.L15.*"/>-->

    <bean id="ORM-provider" class="ru.otus.L15.orm.OrmTool" init-method="init">
        <constructor-arg name="configuration" ref="db-configuration"/>
    </bean>

    <bean id="EntityManagerFactory" factory-bean="ORM-provider" factory-method="getSessionFactory"/>

    <bean id="db-configuration" class="ru.otus.L15.orm.OrmConfiguration">
        <property name="dbUrl"
                  value="jdbc:mysql://localhost/test_schema?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC&amp;useSSL=false"/>
        <property name="jdbcDriver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="user" value="admin"/>
        <property name="password" value="admin"/>
        <property name="poolSize" value="3"/>
    </bean>

</beans>