body{
    background-color: rgba(227, 255, 244, 0.51);
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-size: small;
    margin: 0px;
    padding: 10px;
}

header{
    background-color: rgba(227, 255, 244, 0.51);
    margin: 10px 10px 0px 10px;
    height: 200px;
}