div.operation{
    margin: 10px;
    width: auto;
    border: 1px solid;
    border-radius: 3px;
    padding: 10px;
    padding-left: 30px;
}

input{
    display: block;
    padding: 5px;
    width: inherit;
}

p.fieldTitle{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: medium;
}